{% load static %}

<!DOCTYPE html>
<html>

<head>
    <title>Users</title>
    <link rel="stylesheet" href="{% static 'users/style.css' %}">
</head>

<body>

    <nav>
        <a href="{% url 'dashboard:home' %}">Home</a>
        <a href="{% url 'courses:list_courses' %}">Courses</a>
        <a href="{% url 'dashboard:reports' %}">Reports</a>
        <a href="{% url 'payments:checkout' %}">Payments</a>
        <a href="{% url 'users:profile' %}">Profile</a>
    </nav>

    <div class="container">

        <h1>Users</h1>

        {% block content %}
        {% endblock %}

    </div>

</body>

</html>